.section{
    position: relative;
}
.offers{
    display: flex;
    position: relative;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.top-draw{
    margin: 2rem;
    padding: 1rem;
}
.top-draw i{
    color: var(--color-accent);
}