.section{
    position: relative;
}
.offers{
    display: flex;
    position: relative;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.top-draw{
    margin: 2rem;
    padding: 1rem;
}
.top-draw i{
    color: var(--color-accent);
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    
}

@media screen and (min-width: 200px) and (max-width:767px) {
    .section{
        display: grid;
        place-items: center;
        width: 100%;
    }
}